    </head>
<body>
    <div class="navBar">
        <div class="company">
            <img class="navLogo" src="/favicon.png" alt="">
            <h1><a class="navLogo" href="/">Medilab</a></h1>
        </div>
        <div class="options">
            <h3><a class="navElem" href="/auth/login">Login</a></h3>
            <h3><a class="navElem" href="/auth/options">Signup</a></h3>
        </div>
    </div>
    
