</head>
<body>
    <div class="nav">
        <div class="company">
            <img class="navLogo" src="favicon.png" alt="">
            <h1><a class="navLogo" href="/">Medilab</a></h1>
        </div>
        <div class="options">
            <h3><a class="navElem" href="/auth/login">Add To Cart</a></h3>
            <h3><a class="navElem" href="/auth/options">Logout</a></h3>
        </div>
    </div>
