</head>
<body>
    <div class="navBar">
        <div class="company">
            <img class="navLogo" src="/favicon.png" alt="">
            <h1><a class="navLogo" href="/">Medilab</a></h1>
        </div>
        <div class="options">
            <% if (user) { %>
                <h3 class="navElem"><%= user[0]._name %></h3>
            <% } %>
            <h3><a class="navElem" href="/auth/login">Add To Cart</a></h3>
            <h3><a class="navElem" href="/auth/logout">Logout</a></h3>

        </div>
    </div>
