<%- include('partials/header'); %>
    <title>Compose Article</title>
<%- include('partials/doctorNavBar')%>
    
    <form action="/doctor/compose" method="post" enctype="multipart/form-data">
        <div class="conatainer-fluid" 
             style="
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             border: 2px solid;
             border-radius: 1rem;
             margin: 12%;
             margin-top: 5%;
             width: 50%;
             margin-left: 25%;
             height: 50%;
             padding:3rem;
             background-color: #D6E8DB;
            "
        >
            <input type="text" name="blogtitle" placeholder="Enter Blog Title" style="  width: 75%; margin-top: 1rem;">
            <input type="file" name="blogimage" accept="image/*" placeholder="Enter Blog Image" style="  width: 75%;">
            <textarea name="blogcontent" cols="50" rows="15" style="  width: 75%;"></textarea>
            <button style="
            width: 25%;
            margin: 2rem;
            background-color: #e76161;
        ">Submit</button>
        </div>
    </form>
    
<%- include('partials/footer'); %>