<%- include('partials/header'); %>
    <title>Forgot Password</title>
</head>
<body>
    <div class="outer">
        <div class="container">
          <div class="middle">
            <% if (message!='') { %>
              <h2 class="error-message element"><%= message %></h2>
            <% } %>
            <form action="/auth/forgotPassword" method="post">
                <div class="element">
                  <label for="name">Registered Email: </label>
                  <input type="email" name="email" placeholder="Enter Your Registered Email">
                </div>
                <div class="element">
                    <label for="userType">What Do You Identify Yourself As:</label>
                    <select class="form-control" name="role" id="userType">
                        <option value="users">User</option>
                        <option value="shopowner">Medicine Shop Owner</option>
                        <option value="doctor">Doctor</option>
                    </select>
                </div>
                <div class="button">
                    <button type="submit">Reset Password</button>
                </div>
            </form>
          </div>
        </div>
    </div> 
<%- include('partials/footer'); %>