<%- include('partials/header'); %>
    <title>Forgot Password</title>
</head>
<body>
    <% if (message.length>0) { %>
        <h2><%= message %></h2>
    <% } %>
    <form action="/auth/forgotPassword" method="post">
        <input type="email" name="email" placeholder="Enter Your Registered Email">
        <div class="form-group">
            <label for="userType">What Do You Identify Yourself As:</label>
            <select class="form-control" name="role" id="userType">
              <option value="users">User</option>
              <option value="shopowner">Medicine Shop Owner</option>
              <option value="doctor">Doctor</option>
            </select>
          </div>
        <button>Reset Password</button>
    </form>
<%- include('partials/footer'); %>