<%- include('partials/header') %>
    <title>Login</title>
</head>
<body>
  <div class="outer">
    <div class="container">
      <div class="middle">
        <% if (message!='') { %>
          <h2 class="error-message element"><%= message %></h2>
        <% } %>
        <form method="post" action="/auth/login">
            <div class="element">
              <label for="name">Email: </label>
              <input type="email" name="email" class="form-control" placeholder="Enter Email" autocomplete="off">
            </div>
            <div class="element">
              <label for="name">Password: </label>
              <input type="password" name="password" class="form-control" placeholder="Enter Password" autocomplete="off">
            </div>
            <div class="element">
              <label for="userType">What Do You Identify Yourself As:</label>
              <select class="form-control" name="role" id="userType">
                <option value="users">User</option>
                <option value="shopowner">Medicine Shop Owner</option>
                <option value="doctor">Doctor</option>
              </select>
            </div>
            <div class="links">
              <a href="/auth/options">Signup</a>
              <a href="/auth/forgotPassword">Forget Password</a>
            </div>
            <div class="button">
                <button type="submit">Submit</button>
            </div>
        </form>
      </div>
    </div>
</div>  
<%- include('partials/footer') %>