<%- include('partials/header') %>
    <title>Signup</title>
</head>
<body>

  <div class="outer">
    <div class="container">
      <div class="middle">
        <form method="post" action="/auth/options">
          <div class="element">
            <label for="userType">What Do You Identify Yourself As:</label>
            <select class="form-control" name="role" id="userType">
              <option value="user">User</option>
              <option value="shopowner">Medicine Shop Owner</option>
              <option value="doctor">Doctor</option>
            </select>
          </div>
          <div class="button">
            <button type="submit" name="submit">Next</button>
          </div>
        </form>
      </div>
    </div>
</div>
      
<%- include('partials/footer') %>