<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset password for <%= email %></h1>
    <% if (message.length>0) { %>
        <h2><%= message %></h2>
    <% } %>
    <form action="" method="post">
        <input type="password" name="password" placeholder="enter password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <ul>
            <li>Password must be of 8 characters minimum and 100 characters maximum</li>
            <li>Password must contain atleast 1 upper, lower case character and a digit</li>
            <li>Password must not include space</li>
          </ul>
        <button>Reset Password</button>
    </form>
</body>
</html>