<%- include('partials/header') %>
    <title>Signup-Shop Owner</title>
</head>
<body>

  <div class="outer">
    <div class="container">
      <div class="middle">
        <% if (message!='') { %>
          <h2 class="error-message element"><%= message %></h2>
        <% } %>
        <form method="post" action="/auth/shopOwnerRegister">
            <div class="element">
              <label for="name">Name: </label>
              <input type="text" name="name" class="form-control" placeholder="Your Name" autocomplete="off" required>
            </div>
            <div class="element">
              <label for="name">Email: </label>
              <input type="email" name="email" class="form-control" placeholder="Your Email" autocomplete="off" required>
            </div>
            <div class="element">
              <label for="name">Password: </label>
              <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="off" required>
              <ul>
                <li>Password must be of 8 characters minimum and 100 characters maximum</li>
                <li>Password must contain atleast 1 upper, lower case character and a digit</li>
                <li>Password must not include space</li>
              </ul>
            </div>
            <div class="element">
              <label for="name">Shopname: </label>
              <input type="text" name="shopname" class="form-control" placeholder="Enter Shop Name" autocomplete="off" required>
            </div>
            <div class="element">
              <label for="name">PCI Certificate Number: </label>
              <input type="text" name="pci" class="form-control" placeholder="PCI Certificate Number" autocomplete="off" required>
            </div>
            <div class="element">
              <label for="name">Mobile Number: </label>
              <input type="text" name="mobNumber" class="form-control" placeholder="Your Number" autocomplete="off" required>
            </div>
            <div class="element">
              <label for="name">Street Address: </label>
              <input type="text" name="sa" class="form-control" placeholder="Street Address" autocomplete="off" required>
            </div>
            <div class="element">
              <label for="name">City: </label>
              <input type="text" name="city" class="form-control" placeholder="City" autocomplete="off" required>
            </div>
            <div class="element">
              <label for="name">Postal/Zip Code: </label>
              <input type="text" name="pa" class="form-control" placeholder="Postal/Zip Code" autocomplete="off" required>
            </div>
            <div class="button">
              <button type="submit">Submit</button>
            </div>
        </form>
      </div>
    </div>
</div>
<%- include('partials/footer') %>