<%- include('partials/header'); %>
    <title>Medilab</title>
<%- include('partials/userNavBar')%>
    <form action="/user/searchMedicine" method="get">
        <input type="text" name="medicinename" class="searchMedicine" placeholder="Search Medicine">
        <button class="submitMedicine">Search</button>
    </form>
<%- include('partials/footer'); %>