<%- include('partials/header'); %>
    <title>Medilab</title>
<%- include('partials/userNavBar')%>
    <input type="text" name="medicineName" placeholder="Search Medicine">
<%- include('partials/footer'); %>