*{
    margin: 0px;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

.articles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

.article{
    height: 30rem;
    width: 25%;
    color: green;
    margin: 1rem;
}

.blogImg{
    height: 50%;
    width: 100%;
}
