.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6rem 2rem 6rem;
    background-color: #AA5656;
}

.company,.options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navLogo{
    margin-right: 0.8rem;
    text-decoration: none;
    color: rgb(16, 47, 126);
}

.navElem{
    margin-right: 1.5rem;
    text-decoration: none;
    color: white;
}
